#root {
    width: 100%;
    max-width: 100%;
}

.todo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

h1 {
    margin: 0;
}

.current {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin: 24px 0;
    width: 30%;
    min-width: 360px;
}

.current div {
    border-radius: 4px;
    background-color: #f5f5f5;
    padding: 8px;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 4px;
    background-color: #f8fafb;
    gap: 8px;
    width: 75%;
}

.search input {
    width: 65%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
    padding: 4px;
}

.search select {
    width: 10%;
    min-width: 100px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
    padding: 4px;
}

.search button {
    width: 70px;
    height: 40px;
    border-radius: 4px;
    border: none;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    padding: 4px;
}

.data {
    display: flex;
    justify-content: center;
    align-items: center;
}

.segment {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    min-width: 360px;
    gap: 12px;
    margin: 20px;
}

.active {    
    width: 70px;
    height: 35px;
    border-radius: 4px;
    border: none;
    background-color: #007bff;
    color: rgb(255, 255, 255);
    font-size: 12px;
    box-sizing: border-box;
}

.inactive {    
    width: 70px;
    height: 35px;
    border-radius: 4px;
    border: 1px solid rgb(223, 223, 223);
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 12px;
    box-sizing: border-box;
}

.data {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.data ul {
    margin: 0;
    list-style: none;
}

.edit {
    background-color: #f7c307;
    border: none;
    border-radius: 4px;
    margin-right: 8px;
    padding: 8px 16px;
}

.delete {
    background-color: #da3849;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    margin-right: 8px;
    padding: 8px 16px;
}

.value {
    margin-right: 16px;
    margin-left: 16px;
}

.nonevalue {
    margin-right: 16px;
    margin-left: 16px;
    text-decoration: line-through;
    text-decoration-thickness: 2px;
}

ul {
    width: 70%;
}

ul input {
    margin-left: 16px;
}

.high {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    border-left: 3px solid #f25361;
    border-bottom: 1px solid #f3f3f3;
    padding: 8px 0;
}

.middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    border-left: 3px solid #faaa19;
    border-bottom: 1px solid #f3f3f3;
    padding: 8px 0;
}

.low {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    border-left: 3px solid #3fd277;
    border-bottom: 1px solid #f3f3f3;
    padding: 8px 0;
}

.li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    border-left: 3px solid #000000;
    border-bottom: 1px solid #f3f3f3;
    padding: 8px 0;
}

.priority {
    margin-left: 15px;
}